.header {
    background-color: aqua;
    height: 42px;
}
.p{
    margin-left: 2vw;
    padding: 10px;
    font-size: 12px;
}
.notype {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.lis {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    background-color: #333333;
    margin: 5px;
    font-size: 10px;
}
.lis:hover{
    background-color: #000000;
}
.margin{
    margin-left: 2.5vw;
    padding-left: 12px;
    padding-right: 12px;
}
.sign{
    width: 15px;
    margin-right: 10px;
}
.buy {
    width: 15px;
}
.title{
    background-color: grey;
    color: white;
    height: 105px;
}
.menurow{
    background-color: chartreuse;
}
.banner{
    background-color: lightgray;
    min-height: 50vh;
    padding: 2vh;
}
.examp{
    background-color: black;
    height: 600px;
}
.menu:hover{
    background-color: #61c200;
}
.navbar-toggler-icon{
    width: 200px;
}
.menu {
    float: left;
    display: block;
    padding: 8px;
    width: 200px;
    text-align: center;
    color: black;
}
.items {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #454343;
    color: white;
    height: 400px;;
    width: 250px;
}

.zoom {
    padding: 10px;
    transition: transform .2s; /* Animation */
}

.zoom img {
    padding: 1px;
    padding-top: 0px;;
}
.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.container {
    background-color: white;
}
.numbers {
    list-style-type: decimal;
}
.terms {
    margin: 10px;
}
.profile {
    background-color: blanchedalmond;
    min-height: 50vh;
}

.tab td{
    border: 1px solid black;
    width: 25%;
    text-align: center;
}
.tab {
    width: 100%;
}

.tab1 td{
    border: 1px solid black;
    text-align: center;
}

.tab1 {
    width: 100%;
}

.tab2 {
    width: 100%;
    height: 40%;
}
.tab2 td{
    border: 1px solid black;
    text-align: center;
}

.edittab {
    width: 80%; 
}
.edittab td {
    width: 25%;
    text-align: center;
}
#scrollbar {
    height: 200px;
    overflow-y: auto;
}
::-webkit-scrollbar { 
    display: none; 
}
